* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #FFFEF2;
}

header {
  width: 100vw;
  height: 2.5rem;
  background-color: #fccfb3;
}

.img-content img {
  width: 100vw;
  height: 25rem;
  object-fit: fill;
}

.content{
	width: 100vw;
	height: 100vh;
	padding: 1rem;
	background-color: #fff;
}

@media screen and (min-width: 992px){
	.content{
		max-width: 992px;
		height: auto;
		margin: 1rem auto;
		border-radius: 1rem;
	}
}